{% extends "base.html" %}

{% block title %} New password {% endblock %}
{% block content %}
    <div class="ml-4">
        {% if validlink %}
            <h5>Enter new password</h5>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form id="form" method="post">
                {% csrf_token %}
                    {{ form.new_password1.errors }}
                    <input type="password" placeholder="New password" class="form-control" name="new_password1" id="new_password1">
                    {{ form.new_password2.errors }}
                    <input type="password" placeholder="Confirm password" class="form-control" name="new_password2" id="new_password2">
                    <button type="submit" class="btn btn-lg btn-secondary btn-block">Change password</button>
            </form>
        {% else %}
            <h5>Password reset unsuccessful</h5>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}