{% extends "base.html" %}

{% block title %} Change password {% endblock %}
{% block content %}
    <div class="ml-3">
        <h4>Password change</h4>
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    <div class="col-1">
                        <label>Old password: </label>
                    </div>
                    <div class="col-3">
                        <small class="form-text text-muted">
                            {{ form.old_password.errors }}
                        </small>
                        <input type="password" class="form-control" name="old_password" id="old_password">
                    </div>
                </div><br>
                <div class="form-row">
                    <div class="col-1">
                        <label>New password: </label>
                    </div>
                    <div class="col-3">
                        <small class="form-text text-muted">
                            {{ form.new_password1.errors }}
                        </small>
                        <input type="password" class="form-control" name="new_password1" id="new_password1">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-1">
                        <label>Confirm password: </label>
                    </div>
                    <div class="col-3">
                        <small class="form-text text-muted">
                            {{ form.new_password2.errors }}
                        </small>
                        <input type="password" class="form-control" name="new_password2" id="new_password2">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
    </div>
{% endblock %}