{% extends "base.html" %}

{% block title %} Change password {% endblock %}
{% block content %}
    <div class="ml-4">
        <h5>Password change</h5>
        <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form id="form" method="post">
            {% csrf_token %}
            {{ form.old_password.errors }}
            <input type="password" class="form-control" placeholder="Old password" name="old_password" id="old_password">
            {{ form.new_password1.errors }}
            <input type="password" class="form-control" placeholder="New password" name="new_password1" id="new_password1">
            {{ form.new_password2.errors }}
            <input type="password" class="form-control" placeholder="Confirm password" name="new_password2" id="new_password2">

            <button type="submit" class="btn btn-lg btn-secondary btn-block">Change password</button>
        </form>
    </div>
{% endblock %}