{% extends "base.html" %}

{% block title %} Account {% endblock %}
{% block content %}
<div id="container">
    <form id="form" method="post">
        {% csrf_token %}
            {% if edit == 0 %}
                <h2><p class="text-center">Info account</p></h2>
                <a href="{{website_url}}" target="_blank"><input type="website" readonly class="form-control" name="website" value={{account.website}}></a>
                <input type="username" readonly class="form-control" aria-describedby="emailHelp" name="login" id="login" value={{account.login}}>
                <input type="text" class="form-control" readonly name="password_noenc" id="password" value={{account.password}}>
                <button type="edit" name="edit" class="btn btn-lg btn-secondary btn-block">Edit</button>
        {% endif %}

        {% if edit == 1 %}
            <h2><p class="text-center">Edit account</p></h2>
            <input type="username" class="form-control" aria-describedby="emailHelp" name="login" value={{account.login}}>
            <input type="website" class="form-control" name="website" value="{{account.website}}">
            <input type="range" class="form-range" min="0" max="32" id="range" name="range" value={{account.range}}>
            <label>Length: <a id="length_pass">{{account.range}}</a></label>
            <input type="text" class="form-control" name="password_noenc" id="password_noenc" maxlength="32" value={{account.password}}>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_save">Save changes</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_delete">Delete account</button>
            </div>
        {% endif %}

        <div class="modal fade" id="modal_save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_saveLabel">Save</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save your changes?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="submit" class="btn btn-info">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal_deleteLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete this account?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="delete" name="delete" class="btn btn-info">Delete account</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}

{% block script %}
    var slider = document.getElementById("range");
    var length_pass = document.getElementById('length_pass');
    var min = slider.min;
    var max = slider.max;
    var value = slider.value;

    slider.style.background = `linear-gradient(to right, #808e9b 0%, #808e9b ${(value-min)/(max-min)*100}%, #DEE2E6 ${(value-min)/(max-min)*100}%, #DEE2E6 100%)`

    slider.oninput = function() {
        this.style.background = `linear-gradient(to right, #808e9b 0%, #808e9b ${(this.value-this.min)/(this.max-this.min)*100}%, #DEE2E6 ${(this.value-this.min)/(this.max-this.min)*100}%, #DEE2E6 100%)`

        $.ajax(
        {
            method: "POST",
            url: "{% url 'take_slider' %}",
            data:
            {
                slider_range: this.value,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(gen_pass)
            {
                document.getElementById('password_noenc').value = gen_pass;
                document.getElementById('length_pass').innerHTML = gen_pass.length;
            }
         })
    };

    var password_change = document.getElementById("password_noenc");

    password_change.addEventListener('keyup', (e) => {
        slider.value = password_change.value.length;
        length_pass.innerHTML = password_change.value.length;
        slider.style.background = `linear-gradient(to right, #808e9b 0%, #808e9b ${(slider.value-slider.min)/(slider.max-slider.min)*100}%, #DEE2E6 ${(slider.value-slider.min)/(slider.max-slider.min)*100}%, #DEE2E6 100%)`
    });

{% endblock %}

