{% extends "base.html" %}

{% block title %} Profile {% endblock %}
{% block content %}
<div id="container">
    <div id="container_2f">
        <h2><p class="text-center">Two-factor authentication</p></h2>
        <p class="font-weight-light text-center">Scan code QR or write code manually</p>
        {% if message != '' %}
            <div id="div_alert" class="alert alert-info text-center" role="alert">
                {{message}}
            </div>
        {% endif %}
        {% if configure == 0 %}
            <div class="text-center" style="width: 100%;" >
                <img height="200" width="200" src="data:image/png;base64,{{ qr_code|safe }}"><br>
                <span class="text-center" style="font-size: 13px;"> {{device_url}}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <div style="width: 100%; max-width: 300px;">
                    <form method="post">
                        {% csrf_token %}
                        <input style="background-color: #d2dae2; margin-bottom: 20px;" type="token" class="form-control" name="token"maxlength="10" placeholder="Token">
                        <button type="submit" name="submit" class="btn btn-lg btn-secondary btn-block">Save device</button>
                    </form>
                </div>
            </div>
        {% elif configure == 1 %}
            <div class="justify-content-center">
                <p class="font-weight-light text-center">Your emergency codes:</p>
                {% for code in emergency_codes %}
                    <p class="text-center" style="font-size: 13px; color: white;"> {{code}}</p>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                <div style="width: 100%; max-width: 300px;">
                    <form method="post">
                        {% csrf_token %}
                        <button type="create_emergency_codes" name="create_emergency_codes" class="btn btn-lg btn-secondary btn-block">Create new codes</button>
                        <button data-toggle="modal" data-target="#delete" type="button" class="btn btn-lg btn-secondary btn-block">Delete</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_saveLabel">Two-factor authentication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete two-factor authentication?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form method="post">
                    {% csrf_token %}
                    <button type="delete" name="delete" class="btn btn-info">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}