{% extends "base.html" %}

{% block title %} Accounts {% endblock %}
{% block content %}
    <div id="container_list">
        <div id="container_account">
            <h2><p class="text-center">List account</p></h2>
            <form id="form" method="POST">
                {% csrf_token %}
                <input type="text" class="form-control" id="search_input" name="search" id="formGroupExampleInput" placeholder="Search..." value={{search}}>
            </form>

            <p class="font-weight-light" id="count">Accounts: {{count_acc}}</p>

            {% for acc in list_account %}
                <div class="card text-dark bg-light mb-3">
                        <div class="card-header" style="font-family: Georgia; font-size: 15px;">
                            <div class="d-flex">
                                <div class="mr-auto p-0" style="max-width: 250px;">
                                    {{acc.website}}
                                </div>
                                <div class="p-0">
                                    <a href="{% url 'edit_account' id=acc.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                              <div class="row g-1">
                                <div class="col-6">
                                    <a onclick="">
                                        <div id="copy_login_list" class="p-1 border bg-light">Copy login</div>
                                    </a>
                                </div>
                                <div class="col-6">
                                  <a onclick="">
                                    <div id="copy_pass_list" class="p-1 border bg-light">Copy password</div>
                                  </a>
                                </div>
                              </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



