{% extends "base.html" %}

{% block title %} Sign in {% endblock %}
{% block content %}
    <div class="mx-auto" style="width: 700px;">
        <h2><p class="text-center">Sign in</p></h2>
        {% if message != '' %}
            <div class="alert alert-warning" role="alert">
                {{message}}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Username</label>
                <input type="username" class="form-control" aria-describedby="emailHelp" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"  name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <br>
        <div class="d-flex">
            <div class="mr-auto p-0"><p><a href="{% url 'register' %}">Don't have account? </a> </p></div>
            <div class="p-0"><p><a href="{% url 'register' %}"> Forgot password? </a> </p></div>
        </div>
    </div>
{% endblock %}