{% extends "base.html" %}

{% block title %} Sign in {% endblock %}
{% block content %}
    <div id="container">
        <form id="form" method="post">
            {% csrf_token %}
            <h2><p class="text-center">Sign in</p></h2>
            {% if message != '' %}
                <div id="div_alert" class="alert alert-info" role="alert">
                    {% if message == 'Please check your email and activate your account.' %}
                        {{message}} <a style="color: #485460; text-decoration: underline;" href="{% url 'send_email' %}"> Resend the e-mail for activate the account </a>
                    {% else %}
                        {{message}}
                    {% endif %}
                </div>
            {% endif %}
            <input type="username" class="form-control" value="{{username}}" placeholder="Username" aria-describedby="emailHelp" name="username">
            <input type="password" class="form-control" value="{{password}}" name="password" placeholder="Password">
            {%if 2f is True %}
            <input style="background-color: #d2dae2; margin-top: -10px; margin-bottom: 10px;" type="token" class="form-control" name="token" placeholder="Token">
            <div class="form-check" style="margin-bottom: 20px;">
                <input type="checkbox" class="form-check-input" id="emergency_code" name="emergency_code">
                <label class="form-check-label" for="emergency_code" name="emergent_code">Use emergency code</label>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-secondary btn-block">Log in</button><br>
            <div class="d-flex">
                <div class="mr-auto p-0"><p><a id="login_a1" href="{% url 'register' %}">Don't have account? </a> </p></div>
                <div class="p-0"><p><a id="login_a2" href="{% url 'reset_password' %}"> Forgot password? </a> </p></div>
            </div>
        </form>
    </div>
{% endblock %}