{% extends "base.html" %}

{% block title %} Sign up {% endblock %}
{% block content %}
    <div id="container">
        <form id="form" method="POST">
            {% csrf_token %}
            <h2><p class="text-center">Sign up</p></h2>
            {% if create_success is not None %}
                <div id="div_alert" class="alert alert-info" role="alert">
                    {% if create_success == 0 %}
                        Incorrect values in form. Please try again.
                    {% else %}
                        Account successfully created. Please check your email and verify your account.
                    {% endif %}
                </div>
            {% endif %}
            <input type="username" class="form-control" id="username" placeholder="Username" name="username" value={{username_after_error}}>
            <small id="check_username" class="form-text text-muted"></small>
            <input type="email" class="form-control" id="email" placeholder="Email" aria-describedby="emailHelp" name="email" value="{{email_after_error}}">
            <small id="check_email" class="form-text text-muted"></small>
            <input type="password" class="form-control" placeholder="Password" id="password1" name="password1">
            <input type="password" class="form-control" placeholder="Confirm Password" id="password2" name="password2">
            <button type="submit" class="btn btn-lg btn-secondary btn-block">Register</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    var user = document.getElementById("username");
    var emai = document.getElementById("email");

    user.oninput = function() {
        $.ajax(
        {
            method: "POST",
            url: "{% url 'check_register' %}",
            data:
            {
                type: "1",
                username: this.value,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(message)
            {
                document.getElementById("check_username").innerHTML = message
            }
         })
    };

    emai.oninput = function() {
        $.ajax(
        {
            method: "POST",
            url: "{% url 'check_register' %}",
            data:
            {
                type: "2",
                email: this.value,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(message)
            {
                document.getElementById("check_email").innerHTML = message
            }
         })
    };

{% endblock %}